:root {
    --custom_line_width: 70%; /* set width here */
  }
  
  .markdown-source-view.mod-cm6.is-readable-line-width .cm-contentContainer {
    max-width: var(--custom_line_width);
    margin-left: auto;
    margin-right: auto;
  }
  
  .markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
    max-width: var(--custom_line_width);
    margin-left: auto;
    margin-right: auto;
  }